<%= form_for @employee, :html => { :multipart => true } do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.select :city_id, City.all.collect {|city| [ city.name, city.id ] } ,{}, :onchange => 'check_relocation_status();' %>
    <span id = "relocation_response"></span>
  </div>

  <div class="field">
    <%= f.label "Manager id" %><br>
    <%= f.text_field :manager_id %>
  </div>
  <div class="field">
    <%= f.check_box(:willing_to_relocate) %>
    <%= f.label(:willing_to_relocate, "I am willing to relocate") %>
  </div>
  <div class="field">
    <%= f.file_field :photo%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
