<h1>Editing employee</h1>

<%= render 'form' %>

<br>
<%= link_to 'Home', welcome_index_path %> |
<%= link_to 'Show', @employee %> |
<%= link_to 'Back to Employees', employees_path %> |
<%= link_to 'Back to Relocation Requests', relocation_requests_employees_path %>
