<p><strong>Relocation Requests - </strong><%=@employees.count%></p>

<table>
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Employee Name</th>
      <th>Employee City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% @employees.each_with_index do |emp,index| %>
      <tr>
      	  <td><%=index+1%>
          <td><%= link_to emp.name, edit_employee_path(emp) %></td>
          <td><%= emp.city.name %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= will_paginate @employees %>
<br>
<%= link_to 'Home', welcome_index_path %> 