<h1>Managers</h1>

<table>
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>City</th>
      <th>Subordinates</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%count = 1%>
    <% @employees.each do |employee| %>
      <tr>
             <td><%=count %>.</td>
             <td><%= link_to employee.name, employee %></td>
             <td><%= employee.city.name %></td>
             <td><%=employee.subordinates.count%></td>      
      </tr>
      <%count+=1%>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @employees%>
<br>
<%= link_to 'Home', welcome_index_path %>
