<p id="notice"><%= notice %></p>
<h2>City Details</h2>
<p>
  <strong>City Name:</strong>
  <%= @city.name %>
</p>
<p>
	<strong>Total Employees:</strong>
	<%= @city.employees.count%>
</p>

<table>
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Manager's Name</th>
      <th>Manager's City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% @city.employees.each_with_index do |emp,index| %>
        <tr>
          <td><%=index+1%></td>
          <td><%=emp.name%></td>
          <td><%=emp.manager.name%></td>
          <td><%=emp.manager.city.name%></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', welcome_index_path %> |
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
